{% extends 'tienda/base.html' %}
{% block content %}
<h2>Nuestros Productos</h2>
<div class="row">
  {% for producto in productos %}
  <div class="col-md-4 mb-4">
    <div class="card">
      {% if producto.imagen %}
        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
      {% endif %}
      <div class="card-body"><a href="{% url 'agregar_carrito' producto.id %}" class="btn btn-primary">Agregar al carrito</a>
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text">
          ${{ producto.precio }}<br>
          Stock: {{ producto.stock }}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}