# Entorno virtual
venv/

# Base de datos
db.sqlite3

# Archivos de entorno
.env
*.env

# Archivos de Python cache
__pycache__/
*.pyc

# Archivos de IDE
.idea/
.vscode/

# Archivos de medios subidos por usuarios
/media/
!media/productos/.gitkeep

# Archivos estáticos generados
/staticfiles/